.text {
    background: #fff;
    padding: 16px;
    letter-spacing: 2px;
    font-size: 28px;
    text-align: center;
    word-spacing: 10px;
    font-weight: bold;
    font-family: Monaco, Menlo;
}

.text.typed {
    background: rgba(149, 249, 249, 0.5);
}