.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-signin,
.email-signup {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  margin-top: 20px;
  text-align: center;
}
.u-form-group {
  width: 100%;
  margin-bottom: 10px;
}
.u-form-group input {
  border: 1px solid #ddd;
  border-radius: 2px;
  color: #333;
  font-size: 0.8rem;
  height: 45px;
  outline: none;
  padding: 0 10px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  width: calc(50% - 22px);
}
.u-form-group input:focus {
  border-color: #358efb;
}
.u-form-group button {
    background-color: #1c299d;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 14px 0;
    width: 50%;
}
.forgot-password {
  width: 50%;
  text-align: left;
  text-decoration: underline;
  color: #888;
  font-size: 0.75rem;
}
.error {
  color: red;
}
