<!-- add space -->

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- top banner - typist -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8549961163960740"
     data-ad-slot="6632993371"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


<div class="text">
  <span class="letter" ng-class="{ done : item.done, current : $index == index }" ng-repeat="item in letters">{{ item.letter }}</span>
</div>

<!-- <div class="text typed">{{ typed }}</div> -->

<pre>{{ wpm }}</pre>
<sup>on index {{ index }}</sup>
