body {
  max-width: 80vw;
  margin: 0 auto;
  padding: 0;
  font-family: Lato;
  -webkit-font-smoothing: antialiased;
  background-color: blue;
  font-weight: 400;
  color: #333;
  padding-top: 10%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
