body {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  font-family: Lato;
  -webkit-font-smoothing: antialiased;
  background-color: #f0f0f0;
  font-weight: 400;
  color: #333;
  padding-top: 10%;
}

.text {
  background: #fff;
  padding: 16px;
  letter-spacing: 2px;
  font-size: 28px;
  text-align: center;
  word-spacing: 40px;
  font-weight: bold;
  font-family: Monaco, Menlo;
}

.letter {
  opacity: 0.6;
}
.letter.current {
  background: lightblue;
}
.letter.done {
  opacity: 1;
}

.text.typed {
  background: rgba(149, 249, 249, 0.5);
}
