.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}

.menu-item {
  display: block;
  float: right;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu-item:hover:not(.active) {
  background-color: #ddd;
}

.menu-item.active {
  color: white;
  background-color: #4caf50;
}
